h3{
font-size: 25px !important;
}

.btn-danger:hover{
    background-color: rgb(255, 171, 4);
}

canvas{
    animation-name:example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(255, 168, 45)}
    to{box-shadow: 1px 1px 38px red}
}